.about-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.about-container {
  max-width: 600px;
  text-align: center;
  background-color: rgba(220, 211, 201, 0.9);
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 30px;
}

.about-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.goal-container p {
  line-height: 2rem;
}

.skills-container {
  display: flex;
}

.front-end,
.back-end,
.other {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-bottom: 4px;
  margin: 4px;
  background-color: rgba(222, 220, 222, 0.9);
  border-radius: 30px;
}

.front-end h3,
.back-end h3,
.other h3 {
  align-self: center;
}

.front-end .skill-container,
.back-end .skill-container,
.other .skill-container {
  padding-left: 24px;
}

.skills-container p {
  margin: 8px;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-container i {
  font-size: 30px;
  margin: 8px 0;
}

.journey-text {
  padding: 0 16px;
  text-align: left;
  text-indent: 2rem;
  line-height: 2rem;
}