.about-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.about-container {
  max-width: 600px;
  text-align: center;
  background-color: rgba(220, 211, 201, 0.9);
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 30px;
}

.about-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.goal-container p {
  line-height: 2rem;
}