.skill-container {
  padding-left: 24px;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-container p {
  margin: 8px;
  font-weight: 550;
  text-align: start;
}

.skill-container i,
.skill-container img {
  margin: 8px 0;
  box-shadow: 4px 4px 20px gray;
  border-radius: 4px;
  background-color: black;
  object-fit: cover;
}

.skill-container i {
  font-size: 30px;
}

.skill-container img {
  width: 30px;
  height: 30px;
}

.docs-link {
  text-decoration: none;
  color: black;
}

.docs-link:hover {
  color: #94a8b3;
  text-decoration: underline;
}